
NET "SFP1_MOD_ABS" LOC="A13" | IOSTANDARD=LVCMOS33;
NET "SFP1_TX_EN" LOC="A14" | IOSTANDARD=LVCMOS33;
NET "SFP1_TX_FAULT" LOC="A15" | IOSTANDARD=LVCMOS33;
NET "SFP1_SCL" LOC="A16" | IOSTANDARD=LVCMOS33;
NET "SFP2_MOD_ABS" LOC="A18" | IOSTANDARD=LVCMOS33;
NET "SFP2_TX_EN" LOC="A19" | IOSTANDARD=LVCMOS33;
NET "SFP2_TX_FAULT" LOC="A20" | IOSTANDARD=LVCMOS33;
NET "SFP2_SCL" LOC="A21" | IOSTANDARD=LVCMOS33;
NET "SFP1_SDA" LOC="B15" | IOSTANDARD=LVCMOS33;
NET "SFP1_LOS" LOC="B17" | IOSTANDARD=LVCMOS33;
NET "SFP2_SDA" LOC="B20" | IOSTANDARD=LVCMOS33;
NET "SFP2_LOS" LOC="B21" | IOSTANDARD=LVCMOS33;
NET "PMODA3_N" LOC="B22" | IOSTANDARD=LVCMOS33;
NET "RGB_B1" LOC="C13" | IOSTANDARD=LVCMOS33;
NET "RGB_G1" LOC="C14" | IOSTANDARD=LVCMOS33;
NET "RGB_R1" LOC="C15" | IOSTANDARD=LVCMOS33;
NET "RGB_B2" LOC="C17" | IOSTANDARD=LVCMOS33;
NET "RGB_G2" LOC="C18" | IOSTANDARD=LVCMOS33;
NET "RGB_R2" LOC="C19" | IOSTANDARD=LVCMOS33;
NET "PMODB1_N" LOC="C20" | IOSTANDARD=LVCMOS33;
NET "PMODA3_P" LOC="C22" | IOSTANDARD=LVCMOS33;
NET "PMODB3_P" LOC="D14" | IOSTANDARD=LVCMOS33;
NET "PMODB3_N" LOC="D15" | IOSTANDARD=LVCMOS33;
NET "PMODB4_N" LOC="D16" | IOSTANDARD=LVCMOS33;
NET "SYSCLK" LOC="D17" | IOSTANDARD=LVCMOS33;
NET "PMODB1_P" LOC="D20" | IOSTANDARD=LVCMOS33;
NET "PMODA1_N" LOC="D22" | IOSTANDARD=LVCMOS33;
NET "PMODB2_P" LOC="E13" | IOSTANDARD=LVCMOS33;
NET "PMODB2_N" LOC="E14" | IOSTANDARD=LVCMOS33;
NET "PMODB4_P" LOC="E16" | IOSTANDARD=LVCMOS33;
NET "PMODA1_P" LOC="E22" | IOSTANDARD=LVCMOS33;
NET "LED1" LOC="F20" | IOSTANDARD=LVCMOS33;
NET "LED0" LOC="F21" | IOSTANDARD=LVCMOS33;
NET "PMODA4_P" LOC="G21" | IOSTANDARD=LVCMOS33;
NET "PMODA4_" LOC="G22" | IOSTANDARD=LVCMOS33;
NET "MGTAVCC1V0_MON" LOC="G15" | IOSTANDARD=LVCMOS33;
NET "VCC1V0_MON" LOC="G16" | IOSTANDARD=LVCMOS33;
NET "X_3V3_I_MON" LOC="H14" | IOSTANDARD=LVCMOS33;
NET "X_12V0_I_MON" LOC="H15" | IOSTANDARD=LVCMOS33;
NET "VCC1V8_MON" LOC="H20" | IOSTANDARD=LVCMOS33;
NET "PMODA2_N" LOC="H22" | IOSTANDARD=LVCMOS25;
NET "MGTAVTT1V2_MON" LOC="J14" | IOSTANDARD=LVCMOS33;
NET "VADJ_I_MON" LOC="J15" | IOSTANDARD=LVCMOS33;
NET "PMODA2_P" LOC="J22" | IOSTANDARD=LVCMOS25;
NET "VADJ_MON" LOC="L21" | IOSTANDARD=LVCMOS33;
NET "VCC3V3_MON" LOC="M21" | IOSTANDARD=LVCMOS33;
NET "DIP1" LOC="AA18" | IOSTANDARD=LVCMOS33;
NET "DIP2" LOC="AA19" | IOSTANDARD=LVCMOS33;
NET "DIP3" LOC="AA20" | IOSTANDARD=LVCMOS33;
NET "DIP4" LOC="AA21" | IOSTANDARD=LVCMOS33;
NET "SCL" LOC="AB21" | IOSTANDARD=LVCMOS33;
NET "SDA" LOC="AB22" | IOSTANDARD=LVCMOS33;
#NET "QSPI_IO2" LOC="P21" | IOSTANDARD=CONFIG;
#NET "QSPI_IO0" LOC="P22" | IOSTANDARD=CONFIG;
#NET "QSPI_IO3" LOC="R21" | IOSTANDARD=CONFIG;
#NET "QSPI_IO1" LOC="R22" | IOSTANDARD=CONFIG;
#NET "QSPI_CS" LOC="T19" | IOSTANDARD=CONFIG;
NET "PRESNT_M2C" LOC="T21" | IOSTANDARD=LVCMOS25;
NET "PGOOD_VADJ_R" LOC="U21" | IOSTANDARD=LVCMOS25;
NET "PGOOD_R" LOC="U22" | IOSTANDARD=LVCMOS33;
NET "SFP1_RD_N" LOC="A8";
NET "SFP2_RD_N" LOC="A10";
NET "SFP1_RD_P" LOC="B8";
NET "SFP2_RD_P" LOC="B10";
NET "FMC_MGT_M2C_N" LOC="C9";
NET "FMC_MGT_M2C_P" LOC="D9";
NET "GTP_CLK_N" LOC="E6";
NET "FMC_MGT_CLK_N" LOC="E10";
NET "GTP_CLK_P" LOC="F6";
NET "FMC_MGT_CLK_" LOC="F10";
NET "FMC_LA32_N" LOC="A1 " | IOSTANDARD=LVDS_25;
NET "FMC_LA32_P" LOC="B1 " | IOSTANDARD=LVDS_25;
NET "FMC_LA28_N" LOC="B2 " | IOSTANDARD=LVDS_25;
NET "FMC_LA28_P" LOC="C2 " | IOSTANDARD=LVDS_25;
NET "FMC_LA30_N" LOC="D1 " | IOSTANDARD=LVDS_25;
NET "FMC_LA30_P" LOC="E1 " | IOSTANDARD=LVDS_25;
NET "VREF_A_M2C" LOC="E3 " | IOSTANDARD=LVCMOS25;
NET "FMC_LA24_N" LOC="F1 " | IOSTANDARD=LVDS_25;
NET "FMC_LA24_P" LOC="G1 " | IOSTANDARD=LVDS_25;
NET "FMC_LA03_N" LOC="G2 " | IOSTANDARD=LVDS_25;
NET "FMC_LA17_CC_N" LOC="G4 " | IOSTANDARD=LVDS_25;
NET "FMC_LA03_P" LOC="H2 " | IOSTANDARD=LVDS_25;
NET "FMC_LA17_CC_P" LOC="H4 " | IOSTANDARD=LVDS_25;
NET "FMC_LA21_N" LOC="J1 " | IOSTANDARD=LVDS_25;
NET "FMC_LA08_N" LOC="J2 " | IOSTANDARD=LVDS_25;
NET "FMC_LA18_CC_N" LOC="J4 " | IOSTANDARD=LVDS_25;
NET "FMC_LA21_P" LOC="K1 " | IOSTANDARD=LVDS_25;
NET "FMC_LA08_P" LOC="K2 " | IOSTANDARD=LVDS_25;
NET "FMC_LA02_N" LOC="K3 " | IOSTANDARD=LVDS_25;
NET "FMC_LA18_CC_P" LOC="K4 " | IOSTANDARD=LVDS_25;
NET "FMC_LA19_N" LOC="L1 " | IOSTANDARD=LVDS_25;
NET "FMC_LA02_P" LOC="L3 " | IOSTANDARD=LVDS_25;
NET "FMC_LA31_N" LOC="L4 " | IOSTANDARD=LVDS_25;
NET "FMC_LA31_P" LOC="L5 " | IOSTANDARD=LVDS_25;
NET "FMC_LA19_P" LOC="M1 " | IOSTANDARD=LVDS_25;
NET "FMC_LA05_N" LOC="M2 " | IOSTANDARD=LVDS_25;
NET "FMC_LA05_P" LOC="M3 " | IOSTANDARD=LVDS_25;
NET "FMC_LA12_N" LOC="N3 " | IOSTANDARD=LVDS_25;
NET "FMC_LA12_P" LOC="N4 " | IOSTANDARD=LVDS_25;
NET "FMC_LA15_N" LOC="P1 " | IOSTANDARD=LVDS_25;
NET "FMC_LA15_" LOC="R1 " | IOSTANDARD=LVDS_25;
NET "FMC_LA04_P" LOC="AA1 " | IOSTANDARD=LVDS_25;
NET "FMC_LA13_N" LOC="AA3 " | IOSTANDARD=LVDS_25;
NET "FMC_LA01_CC_N" LOC="AA4 " | IOSTANDARD=LVDS_25;
NET "FMC_LA10_P" LOC="AA5 " | IOSTANDARD=LVDS_25;
NET "FMC_LA22_N" LOC="AA6 " | IOSTANDARD=LVDS_25;
NET "FMC_LA27_P" LOC="AA8 " | IOSTANDARD=LVDS_25;
NET "FMC_LA04_N" LOC="AB1 " | IOSTANDARD=LVDS_25;
NET "FMC_LA06_N" LOC="AB2 " | IOSTANDARD=LVDS_25;
NET "FMC_LA06_P" LOC="AB3 " | IOSTANDARD=LVDS_25;
NET "FMC_LA10_N" LOC="AB5 " | IOSTANDARD=LVDS_25;
NET "FMC_LA14_N" LOC="AB6 " | IOSTANDARD=LVDS_25;
NET "FMC_LA14_P" LOC="AB7 " | IOSTANDARD=LVDS_25;
NET "FMC_LA27_N" LOC="AB8 " | IOSTANDARD=LVDS_25;
NET "FMC_LA09_N" LOC="R2" | IOSTANDARD=LVDS_25;
NET "FMC_LA09_P" LOC="R3" | IOSTANDARD=LVDS_25;
NET "FMC_CLK1_M2C_P" LOC="R4" | IOSTANDARD=LVDS_25;
NET "FMC_LA33_P" LOC="R6" | IOSTANDARD=LVDS_25;
NET "FMC_LA11_P" LOC="T1" | IOSTANDARD=LVDS_25;
NET "FMC_CLK1_M2C_N" LOC="T4" | IOSTANDARD=LVDS_25;
NET "FMC_LA00_CC_P" LOC="T5" | IOSTANDARD=LVDS_25;
NET "FMC_LA33_N" LOC="T6" | IOSTANDARD=LVDS_25;
NET "FMC_LA11_N" LOC="U1" | IOSTANDARD=LVDS_25;
NET "FMC_LA16_P" LOC="U2" | IOSTANDARD=LVDS_25;
NET "FMC_LA00_CC_N" LOC="U5" | IOSTANDARD=LVDS_25;
NET "FMC_LA23_P" LOC="U6" | IOSTANDARD=LVDS_25;
NET "FMC_LA16_N" LOC="V2" | IOSTANDARD=LVDS_25;
NET "FMC_CLK0_M2C_P" LOC="V4" | IOSTANDARD=LVDS_25;
NET "FMC_LA23_N" LOC="V5" | IOSTANDARD=LVDS_25;
NET "FMC_LA26_P" LOC="V7" | IOSTANDARD=LVDS_25;
NET "FMC_LA29_N" LOC="V8" | IOSTANDARD=LVDS_25;
NET "FMC_LA29_P" LOC="V9" | IOSTANDARD=LVDS_25;
NET "FMC_LA07_P" LOC="W1" | IOSTANDARD=LVDS_25;
NET "FMC_CLK0_M2C_N" LOC="W4" | IOSTANDARD=LVDS_25;
NET "FMC_LA20_N" LOC="W5" | IOSTANDARD=LVDS_25;
NET "FMC_LA20_P" LOC="W6" | IOSTANDARD=LVDS_25;
NET "FMC_LA26_N" LOC="W7" | IOSTANDARD=LVDS_25;
NET "FMC_LA25_P" LOC="W9" | IOSTANDARD=LVDS_25;
NET "FMC_LA07_N" LOC="Y1" | IOSTANDARD=LVDS_25;
NET "BTN_RESETN" LOC="Y2" | IOSTANDARD=LVCMOS25;
NET "FMC_LA13_P" LOC="Y3" | IOSTANDARD=LVDS_25;
NET "FMC_LA01_CC_P" LOC="Y4" | IOSTANDARD=LVDS_25;
NET "FMC_LA22_P" LOC="Y6" | IOSTANDARD=LVDS_25;
NET "FMC_LA25_N" LOC="Y9" | IOSTANDARD=LVDS_25;
